<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="about-section container" id="about-us">
        <div class="about-box">
            <div class="about-info">
                <h2 class="about-title">About Us</h2>
                <div class="about-info-text">
                    <p class="about-text">Welcome to our premium watch collection, where luxury and style meet functionality and precision. Our selection of
                    timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a reliable
                    and stylish accessory on your wrist.</p>
                    <p class="about-text">At our premium watch collection, we believe that a watch is more than just a timekeeping device - it's a statement piece
                    that reflects your personality and style. So why settle for anything less than the best?</p>
                </div>
                <a href="#catalog">
                <button class="about-btn">View catalog</button>
            </a>
            </div>
            <div class="about-imag">
    
                <picture>
                    <source srcset="
                    ./img/about-us/Rectangle-11-desktop-1x.jpg 1x,
                    ./img/about-us/Rectangle-11-desktop-2x.jpg 2x" 
                    media="(min-width: 1280px)">
                    <source srcset="
                    ./img/about-us/Rectangle-11-tablet-1x.jpg 1x,
                    ./img/about-us/Rectangle-11-tablet-2x.jpg 2x" 
                    media="(min-width: 768px)">
                    <source srcset="
                    ./img/about-us/Rectangle-12-mobile-1x.jpg 1x,
                    ./img/about-us/Rectangle-12-mobile-2x.jpg 2x" 
                    media="(max-width: 767px)">
                    <img class="about-rectangle" 
                    src="./img/about-us/Rectangle-12-mobile-1x.jpg" 
                    alt="Rectangle">
                </picture>
            
            </div>
        </div>
    </section>

</body>
</html>

