<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
</head>
<body>
    <div >
        <h2 class="visuali-hidden">Advertisement</h2>
    <section class="container">
        <div class="advert-img" >
            <p class="advert-text">Choose  <span class="advert-color">your story</span>, making every moment unique. Time is your style, and we reveal it.</p>
            <a href="#contact-us">
            <button type="button" class="advert-button" >
                 Contact Us
            </button>
        </a>
        </div>
    </section>
    </div>
</body>
</html>

