<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/contact-us.css">
 
</head>
<body>
    <section class="contact-us container" id="contact-us">
        <h2 class="contact-us-h">Contact Us</h2>
        <div class="div-form">
                <form class="form">
                    <div class="form-div">
                        <p class="p-form">Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back
                            to you shortly.</p>
                        <div class="input-div">
                        <input class="input-form" id="name" type="text" name="user-name" placeholder="Name" required>
                        </div>
                        <div class="input-div email-div">
                            <input class="input-form" id="email" type="email" name="user-email" placeholder="Email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})">
                        </div>
                        <div class="input-div email-div">
                            <input class="input-form" id="tel" type="tel" name="user-tel" placeholder="+380" pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$">
                        </div>
                        <div class="textarea-div">
                            <div class="textarea-div-class">
                                <textarea class="textarea-class" id="coment" name="comment" placeholder="Comment"></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="button" type="submit">
                        Send
                    </button>
                </form>
                <picture>
                    <source srcset="./img/contact-us/Rectangle-11-1x.jpg 1x, ./img/contact-us/Rectangle-11-2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./img/contact-us/Rectangle-11-tablet1x.jpg 1x, ./img/contact-us/Rectangle-11-tablet2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="./img/contact-us/Rectangle-15-mobile1x.jpg 1x, ./img/contact-us/Rectangle-15-mobile2x.jpg 2x" media="(max-width: 767px)">
                    <img class="img" src="./img/contact-us/Rectangle-11-1x.jpg" alt="watch">
                </picture>
        </div>
    </section>
</body>
</html>
