

<footer class="footer-web" id="footer">
    <div class="container">
        <div class="container-logoandcontacts">
            <div class="logo-links">
                <h2 class="footer-logo">watchcharm</h2>
                <ul class="links">
                    <li class="footer-links-list">
                        <a class="link-svg" href="https://www.facebook.com/goITclub/" target="_blank" >
                            <svg class="footer-svg" width="16" height="16">
                                <use href="./img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-links-list">
                        <a class="link-svg" href="https://www.instagram.com/goitclub/" target="_blank">
                            <svg class="footer-svg" width="16" height="16">
                                <use href="./img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-links-list">
                        <a class="link-svg" href="https://www.youtube.com/c/GoIT" target="_blank">
                            <svg class="footer-svg" width="16" height="16">
                                <use href="./img/icons.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <a class="footer-tel"  href="tel:+380684439426" target="_blank">+380(68)443-94-26</a>
                <p class="footer-text">Have the time of your life with our watches: where high-class craftsmanship meets
                    impeccable design</p>
                </div>
        <div class="container-nav">
            <nav class="footer-nav">
                <ul class="footer-nav-lists">
                    <li>
                        <a class="page-list" href="#home" >Home</a>
                    </li>
                    <li>
                        <a class="page-list" href="#about-us" >About Us</a>
                    </li>
                    <li>
                        <a class="page-list" href="#catalog" >Catalog</a>
                    </li>
                    <li>
                        <a class="page-list" href="#sale" >Sale</a>
                    </li>
                    <li>
                        <a class="page-list" href="#reviews" >Reviews</a>
                    </li>
                    <li>
                        <a class="page-list" href="#contact-us">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <address class="footer-address">
                <a target="_blank" href="https://www.google.com/maps/place/Varex+Imaging+Visitor+Entrance/@40.7332053,-111.9617062,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35bbcfb1369:0x260ab4842496c9e4!8m2!3d40.7332053!4d-111.9591313!16s%2Fg%2F1tcxvqmt?entry=ttu&g_ep=EgoyMDI0MDkwOS4wIKXMDSoASAFQAw%3D%3D">
                    1678 S. Pioneer Road Salt Lake City UT 84104
                </a>
            </address>
        </div>
        <div class="footer-info">
            <p class="footer-info-text">©2023 The Watch Spot. All rights reserved.</p>
            <div class="container-footer-info-link">
                <a class="footer-info-link" href="#" target="_blank">Terms of Service</a>
                <a class="footer-info-link" href="#" target="_blank">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>