<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- #region section hero -->
    <section class="section hero-section" id="hero">
        <div class="container">
            <ul class="hero-list">
                <li class="hero-list-item">
                    <div class="container-text-wrap">
                        <h1 class="hero-title">
                            Welcome to our <span class="hero-title-span">collection</span> of
                            premium watches
                        </h1>
                        <p class="hero-text">
                            Our watches are not just timepieces, but also an expression of your
                            personality and lifestyle. From classic designs to modern ones, we
                            have a watch to suit every taste and occasion.
                        </p>
                    </div>
                </li>
                <li class="hero-list-item content-images-wrap">
                    <div class="container-images-wrap">
                        <ul class="hero-images-list">
                            <li class="hero-images-item hero-images-item-one">
                                <picture>
                                    <source
                                        media="(min-width: 1280px)"
                                        srcset="
                                            ./img/hero/people-images/victoria-romashenko-desc-1x.png 1x,
                                            ./img/hero/people-images/victoria-romashenko-desc-2x.png 2x
                                        "
                                    >
                                    <source
                                        media="(min-width: 768px)"
                                        srcset="
                                            ./img/hero/people-images/victoria-romashenko-tab-1x.png 1x,
                                            ./img/hero/people-images/victoria-romashenko-tab-2x.png 2x
                                        "
                                    >
                                    <source
                                        media="(max-width: 767px)"
                                        srcset="
                                            ./img/hero/people-images/victoria-romashenko-mob-1x.png 1x,
                                            ./img/hero/people-images/victoria-romashenko-mob-2x.png 2x
                                        "
                                    >
                                    <img
                                        src="./img/hero/people-images/victoria-romashenko-desc-1x.png"
                                        alt="Victoria Romashenko"
                                        width="60"
                                        class="hero-image-items"
                                    >
                                </picture>
                            </li>
                            <li class="hero-images-item hero-images-item-two">
                                <picture>
                                    <source
                                        media="(min-width: 1280px)"
                                        srcset="
                                            ./img/hero/people-images/john-wax-desc-1x.png 1x,
                                            ./img/hero/people-images/john-wax-desc-2x.png 2x
                                        "
                                    >
                                    <source
                                        media="(min-width: 768px)"
                                        srcset="
                                            ./img/hero/people-images/john-wax-tab-1x.png 1x,
                                            ./img/hero/people-images/john-wax-tab-2x.png 2x
                                        "
                                    >
                                    <source
                                        media="(max-width: 767px)"
                                        srcset="
                                            ./img/hero/people-images/john-wax-mob-1x.png 1x,
                                            ./img/hero/people-images/john-wax-mob-2x.png 2x
                                        "
                                    >
                                    <img
                                        src="./img/hero/people-images/john-wax-desc-1x.png"
                                        alt="John Wax"
                                        width="60"
                                        class="hero-image-items"
                                    >
                                </picture>
                            </li>
                            <li class="hero-images-item hero-images-item-three">
                                <picture>
                                    <source
                                        media="(min-width: 1280px)"
                                        srcset="
                                            ./img/hero/people-images/anastasia-trachuk-desc-1x.png 1x,
                                            ./img/hero/people-images/anastasia-trachuk-desc-2x.png 2x
                                        "
                                    >
                                    <source
                                        media="(min-width: 768px)"
                                        srcset="
                                            ./img/hero/people-images/anastasia-trachuk-tab-1x.png 1x,
                                            ./img/hero/people-images/anastasia-trachuk-tab-2x.png 2x
                                        "
                                    >
                                    <source
                                        media="(max-width: 767px)"
                                        srcset="
                                            ./img/hero/people-images/anastasia-trachuk-mob-1x.png 1x,
                                            ./img/hero/people-images/anastasia-trachuk-mob-2x.png 2x
                                        "
                                    >
                                    <img
                                        src="./img/hero/people-images/anastasia-trachuk-desc-1x.png"
                                        alt="Anastasia Trachuk"
                                        width="60"
                                        class="hero-image-items"
                                    >
                                </picture>
                            </li>
                        </ul>
                        <a class="down-link" href="#footer">Scroll down</a>
                    </div>
                </li>
            </ul>
        

        <div class="container-hero-image">
            <picture>
                <source
                    media="(min-width: 1280px)"
                    srcset="
                        ./img/hero/Rectangle-10-desktop-1x.jpg 1x,
                        ./img/hero/Rectangle-10-desktop-2x.jpg 2x
                    "
                >
                <source
                    media="(min-width: 768px)"
                    srcset="
                        ./img/hero/Rectangle-10-tablet-1x.jpg 1x,
                        ./img/hero/Rectangle-10-tablet-2x.jpg 2x
                    "
                >
                <source
                    media="(max-width: 767px)"
                    srcset="
                        ./img/hero/Rectangle-10-mobile-1x.jpg 1x,
                        ./img/hero/Rectangle-10-mobile-2x.jpg 2x
                    "
                >
                <img
                    src="./img/hero/Rectangle-10-desktop-1x.jpg"
                    alt="Watches"
                    width="1150"
                    class="hero-image"
                >
            </picture>  
        </div>
      </div>
    </section>
    <!-- #endregion section hero -->
</body>
</html>
