<!-- upd 6/09 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<section class="container reviews" id="reviews">
    <h2 class="reviews-section-title">Reviews</h2>
<div class="reviews-container">
<ul class="reviews-list">
    <li class="reviews-list-item">
        <img class="review-image" src="./img/reviews/john_wax.png"
        alt="John Wax"
        width="56"
        height="56"
        srcset="./img/reviews/john_wax.png 1x, 
        ./img/reviews/john_wax2x.png 2x">
        <h3 class="reviews-names">John Wax</h3>
        <a class="reviews-text">Buying a watch from was the best choice for me. The design is perfectly combined with high quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly.</a>
    </li>
    <li class="reviews-list-item">
        <img class="review-image" src="./img/reviews/victoria_romashenko.png"
        alt="Victoria Romashenko"
        width="56"
        height="56"
        srcset="./img/reviews/victoria_romashenko.png 1x, 
        ./img/reviews/victoria_romashenko2x.png 2x">
        <h3 class="reviews-names">Victoria Romashenko</h3>
        <a class="reviews-text">Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me. The build quality and attention to detail make it a real gem among my accessories.</a>
    </li>
    <li class="reviews-list-item">
        <img class="review-image" src="./img/reviews/anastasia_trachuk.png"
        alt="Anastasia Trachuk"
        width="56"   
        height="56"
        srcset="./img/reviews/anastasia_trachuk.png 1x, 
        ./img/reviews/anastasia_trachuk2x.png 2x">
        <h3 class="reviews-names">Anastasia Trachuk</h3>
        <a class="reviews-text">My watch from is a real masterpiece. Every detail impresses with the high quality of execution. Special features like [specify features] make it an indispensable companion in my daily life.</a>
    </li>
</ul>
</div>
</section>


