<!-- sale  -->

<section class="sale" id="sale">
  <div class="container">
    <h2 class="title-sec">Sale</h2>
    <div class="sale-box">
      <div class="sale-galery">
        <ul class="sale-img-list">
          <li class="sale-img-item">
            <img
              srcset="
                ./img/sale/sale_front_1.png    1x,
                ./img/sale/sale_front_1_x2.png 2x
              "
              src="./img/sale/sale_front_1.png"
              alt="black smartwatch"
              class="sale-img-card"
            />
          </li>
          <li class="sale-img-item">
            <img
              srcset="
                ./img/sale/sale_front_2.png    1x,
                ./img/sale/sale_front_2_x2.png 2x
              "
              src="./img/sale/sale_front_2.png"
              alt="black smartwatch front view"
              class="sale-img-card"
            />
          </li>
          <li class="sale-img-item">
            <img
              srcset="
                ./img/sale/sale_side.png    1x,
                ./img/sale/sale_side_x2.png 2x
              "
              src="./img/sale/sale_side.png"
              alt="black smartwatch side view"
              class="sale-img-card"
            />
          </li>
          <li class="sale-img-item">
            <img
              srcset="
                ./img/sale/sale_back.png    1x,
                ./img/sale/sale_back_x2.png 2x
              "
              src="./img/sale/sale_back.png"
              alt="black smartwatch back view"
              class="sale-img-card"
            />
          </li>
        </ul>
        <div class="sale-gen-img-card">
          <img
            srcset="
              ./img/sale/sale_general.png    1x,
              ./img/sale/sale_general_x2.png 2x
            "
            src="./img/sale/sale_general.png"
            alt="black smartwatch view in half-turn, close-up"
            class="sale-gen-img"
          />
        </div>
      </div>

      <div class="sale-review">
        <div class="sale-review-title-box">
          <h3 class="sale-review-title">
            MARQ&#174; Commander (Gen 2) - Carbon Edition
          </h3>
          <p class="sale-review-title-box-text">Product tag: 706587</p>
        </div>
        <div class="sale-price-box">
          <div class="sale-price-new-box">
            <p class="sale-price-new">&euro;1500</p>
          </div>

          <p class="sale-price-old">&euro;3000</p>
        </div>

        <p class="sale-review-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <div class="sale-teg-box">
          <ul class="sale-teg-list">
            <li class="sale-teg-item">Fused carbon fiber</li>
            <li class="sale-teg-item">Grade-5 Titanuim</li>
            <li class="sale-teg-item">Athlete</li>
            <li class="sale-teg-item">Golfer</li>
            <li class="sale-teg-item">Commander</li>
            <li class="sale-teg-item">Adventurer</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
