.section.hero-section {
  padding: 80px 0 60px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fbfbfb;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
}

.hero-title-span {
  color: #3350e9;
}

.container-text-wrap > .hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}

.hero-list-item.content-images-wrap {
  height: 44px;
  margin-bottom: 28px;
  position: relative;
}

.hero-images-list {
  display: flex;
}

.hero-images-item {
  max-width: 44px;
  height: auto;
  border-radius: 100%;
  stroke-width: 2px;
  stroke: #fbfbfb;
  position: absolute;
}

.down-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
}

.down-link:hover,
.down-link:focus {
  color: #3350e9;
}

.hero-section > .container-hero-image {
  display: block;
  margin: 0 auto;
}

.hero-image {
  border-radius: 30px;
  max-width: 335px;
  height: auto;
}

/* #region media */

@media screen and (max-width: 767px) {
  .hero-images-item.hero-images-item-two {
    z-index: 2;
    left: 32px;
  }
  .hero-images-item.hero-images-item-three {
    z-index: 3;
    left: 64px;
  }
  .down-link {
    position: absolute;
    top: 26px;
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  .section.hero-section {
    padding: 80px 0;
  }

  .hero-images-item {
    max-width: 56px;
  }

  .hero-images-item-one {
    z-index: 1;
    right: 80px;
  }

  .hero-images-item.hero-images-item-two {
    z-index: 2;
    right: 39px;
  }

  .hero-images-item.hero-images-item-three {
    z-index: 3;
    right: 0;
  }

  .down-link {
    font-size: 20px;
    line-height: 1;
  }

  .hero-list {
    display: flex;
    gap: 11px;
    margin-bottom: 40px;
  }

  .hero-title {
    font-size: 70px;
    width: 557px;
    height: auto;
  }

  .hero-text {
    max-width: 480px;
    height: auto;
  }

  .container-text-wrap > .hero-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 0;
  }

  .hero-list-item.content-images-wrap {
    height: auto;
    margin-bottom: 0;
  }

  .container-images-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 180px;

    min-width: 136px;
    height: auto;
    margin-bottom: 0;
  }

  .hero-images-item-one {
    right: 80px;
  }

  .hero-image {
    max-width: 704px;
    border-radius: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .section.hero-section {
    padding: 80px 0 100px 0;
  }

  .hero-list {
    gap: 407px;
  }

  .hero-title {
    font-size: 72px;
    line-height: 0.88;
    width: 597px;
    height: auto;
  }

  .container-text-wrap > .hero-text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
  }

  .container-images-wrap {
    row-gap: 189px;
    min-width: 146px;
  }

  .hero-images-item {
    max-width: 60px;
  }

    .hero-images-item-one {
    z-index: 1;
    right: 86px;
  }

  .hero-images-item.hero-images-item-two {
    z-index: 2;
    right: 42px;
  }

  .hero-images-item.hero-images-item-three {
    z-index: 3;
    right: 0;
  }

  .hero-image {
    max-width: 1150px;
  }
}

/* #endregion media */
