/* sale */

.sale {
  
  margin: 0 auto;
  padding: 0;
  margin-bottom: 60px;
  margin-top: 60px;
}
.sale > .container {
  margin: 0 auto;
  padding: 0 20px;
}

.title-sec {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  text-align: left;
  margin-bottom: 24px;
}

.sale-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.sale-galery {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.sale-img-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 5px;
}
.sale-img-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  background-color: #f3f3f3;
  padding: 13px 14px;
}
.sale-img-card {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 54px;
}

.sale-gen-img-card {
  max-width: 100%;
  height: auto;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  padding: 50px;
}
.sale-gen-img {
  max-width: 235px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.sale-review {
  max-width: 100%;
  border-radius: 30px;
  background-color: #3350e9;
  padding: 48px 28px;
}

.sale-review-title-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.sale-review-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  text-align: left;
}
.sale-review-title-box-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}
.sale-price-box {
  display: flex;
  align-items: center;

  flex-direction: row;
  gap: 9px;
  margin-bottom: 28px;
}
.sale-price-new-box {
  border-radius: 8px;
  width: 68px;
  height: 32px;
  background-color: rgba(251, 251, 251, 0.1);
  text-align: center;
}
.sale-price-new {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin: 8px 12px;
}
.sale-price-old {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}
.sale-review-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  text-align: left;
  margin-bottom: 28px;
  max-width: 279px;
}
.sale-teg-box {
  max-width: 279px;
}
.sale-teg-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}
.sale-teg-item {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 7px 11px;
}
@media screen and (min-width: 768px) {
  .sale {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .sale > .container {
    padding: 0 32px;
  }
  .title-sec {
    font-size: 48px;
    line-height: 0.91667;
    margin-bottom: 40px;
  }
  .sale-box {
    gap: 40px;
  }
  .sale-galery {
    flex-direction: row;
    gap: 20px;
  }
  .sale-img-list {
    flex-direction: column;
    gap: 10px;
  }
  .sale-img-item {
    border-radius: 20px;
    padding: 15px 17px;
  }
  .sale-img-card {
    max-width: 96px;
    width: 96px;
  }
  .sale-gen-img-card {
    border-radius: 50px;
    padding: 79px 112px;
  }
  .sale-gen-img {
    width: 328px;
    max-width: 328px;
  }

  .sale-review {
    border-radius: 50px;
    padding: 60px;
  }
  .sale-review-title {
    font-size: 32px;
    line-height: 1.125;
    width: 436px;
  }
  .sale-price-box {
    margin-bottom: 30px;
  }
  .sale-price-new-box {
    width: 78px;
  }
  .sale-price-new {
    font-size: 20px;
    line-height: 1;
  }
  .sale-review-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
    max-width: 584px;
  }
  .sale-teg-box {
    max-width: 398px;
  }
  .sale-teg-item {
    font-size: 14px;
    line-height: 1.28571;
  }
}

@media screen and (min-width: 1280px) {
  .sale {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .sale > .container {
    padding: 0 65px;
  }
  .sale-box {
    flex-direction: row;
  }
  .sale-gen-img-card {
    padding: 79px 50px;
  }
  .sale-review-title {
    width: 389px;
  }
  .sale-review-text {
    max-width: 410px;
  }
}
