<header class="header">
  <img src="../../img/header/logo.png" alt="logo" class="logo" />

  <button type="button" class="contact-btn">Contact us</button>

  <button type="button" class="menu-btn">
    <svg class="header-svg-btn" width="24" height="24">
      <use href="../../img/symbol.svg#icon-mobile-menu"></use>
    </svg>
  </button>

  <nav class="nav">
    <ul class="nav-list">
      <li><a href="../../index.html">Main</a></li>
      <li><a href="../../about.html">About</a></li>
      <li><a href="../../cases.html">Cases</a></li>
      <li><a href="../../careers.html">Careers</a></li>
    </ul>
  </nav>
</header>
